  <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Plant</th>
            <th class="text-center">Start date</th>
            <th class="text-center">End date</th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#order of orders"> 
            <td>
                {{order.plant.name}}
                <button>
                Inspect plant
                </button>
            </td>
            <td>{{order.rentalPeriod.startDate}}</td>
            <td>{{order.rentalPeriod.endDate}}</td>
            <td class='text-right'>{{order.total | number:'.2'}}</td>
            <td class='text-center'>
                <button class="btn btn-xs" *ngFor="#link of order._xlinks" 
                    [ngClass]="{'btn-success':link.method=='POST', 
                                'btn-danger':link.method=='DELETE'}"
                    (click)="follow(link)">
                {{link._rel}}
                </button>
            </td>
        </tr>
    </tbody>
</table>

<h1> {{catalog.extension}}</h1>
